.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.box{
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0,0,0,0.05) 0 6px 24px rgba(0,0,0.08) 0 0 0 1px;
}
.box form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
    padding: 20px;
}
.auth-options{
    display: flex;
}
.auth-options button{
    width: 50%;
    border: none;
    padding: 10px;
    color: rgba(35,38,47);
}
