.buttons,.content{
    display: flex;
    align-items: center;
}
.buttons button,.edit,.delete{
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: transparent;
}
.list-header{
    min-height: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.list-item{
    margin: 10px 0;
    padding: 10px 0;
}